body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

.storey {
    padding-top: 4em;
    padding-bottom: 4em;
}
.storey--notop {
    padding-top: 0;
}
.storey__header {
    font-size: 1.8em;
    font-weight: 600;
    margin: 0 0 0.7em;
}

.flex {
    display: flex;
}
