.home {
    background: linear-gradient(#fff, #f7f8fc);
}
.home__block {
    font-size: var(--font-size-large);
}

.home__row > div {
    margin-bottom: 1.5em;
}

@media only screen and (min-width: 62em) {
    .promo__description {
        padding-top: 1em;
    }
}
