<footer class="container footer">
    <ul class="naked-list">
        <li class="footer__item">Подписаться:
            <a href="https://twitter.com/nalgeon" class="footer__social-link"><i
                    class="fab fa-twitter"></i><span>Твиттер</span></a>
            <a href="https://www.facebook.com/nalgeon" class="footer__social-link"><i
                    class="fab fa-facebook-f"></i><span>Фейсбук</span></a>
            <a href="/rss" class="footer__social-link"><i class="fas fa-rss"></i><span>RSS</span></a>
        </li>
        <li class="footer__item">Почта: <a href="mailto:m@antonz.ru">m@antonz.ru</a></li>
        <li class="footer__item">и приходите в
            <a class="footer__link" href="https://career.hflabs.ru/">HFLabs</a>
        </li>
    </ul>
</footer>