<div class="nowar">
    <div class="container">
        <p>
            Вторжение в Украину — предательство России и преступление против мира.
            <a href="http://change.org/netvoyne">Нет войне!</a>
        </p>
    </div>
</div>
{{ if not .IsHome }}
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <a class="img-link" href="/">
                    <img src="/assets/stopwar.svg" class="header-icon">
                </a> 
                <a href="/">
                    <strong>{{ .Site.Param "author" }}</strong>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 hidden-mobile">
                <a class="menu__link" href="/projects/">
                    <span>проекты</span>
                </a>
                <a class="menu__link" href="/all/">
                    <span>блог</span>
                </a>
                <a class="menu__link" href="/#about">
                    <span>контакты</span>
                </a>
                <a class="menu__link" href="https://antonz.org">
                    <span>en</span>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3">
                {{- partial "search.html" . -}}
            </div>
        </div>
    </div>
</div>
{{ end }}