{{ if not .IsHome }}
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <a class="img-link" href="/">
                    <img src="/assets/antonz.jpg" class="header-icon">
                </a> 
                <a href="/">
                    <strong>{{ .Site.Param "author" }}</strong>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3 hidden-mobile">
                {{- partial "search.html" . -}}
            </div>
        </div>
    </div>
</div>
{{ end }}