<section id="projects" class="storey storey--notop">
    <div class="container">
        <div class="home__block">
            <h2 class="storey__header"><a href="/projects/">Проекты</a></h2>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <p>Мне интересна работа с данными, разработка облачных сервисов, Python и хорошие интерфейсы.</p>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row">
            {{- partial "projects-core.html" . -}}
            <div class="col-xs-12 col-sm-4 flex">
                <div class="project-block project-block--noborder">
                    <p>
                        <a class="portfolio-thumb" href="/projects">
                            <strong>Еще всякое</strong>
                        </a>
                    </p>
                    <p>Открытый код, курсы, тематические каналы и книги.</p>
                </div>
            </div>
        </div>

    </div>
</section>