<section id="windows" class="storey storey--notop home__block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <a class="portfolio-thumb" href="/window-functions/">
                    <img class="portfolio-thumb--raised" src="/assets/projects/windows.png" alt="Оконные функции SQL">
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 promo__description">
                <p>
                    <strong>Оконные функции SQL</strong><br>
                    Как делать классные аналитические отчеты без участия Excel.
                    Осваиваем «окошки» в картинках и на практике.
                </p>
                <p>
                    <a class="button" href="/window-functions/">
                        Больше о курсе
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>