<section id="sqliter" class="storey storey--notop home__block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <a class="portfolio-thumb" href="/sqlite-course/">
                    <img class="portfolio-thumb--raised" src="/assets/projects/sqliter-1.png"
                        alt="SQLite на практике">
                </a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <p>Интерактивный курс по прикладному анализу данных с помощью SQLite.
                    Подходит для всех, кто хотя бы немного знает SQL.
                </p>
                <p>
                    <a class="button" href="/sqlite-course/">
                        Больше о курсе
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>