<section class="storey header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <img src="/assets/antonz.jpg" class="header-icon">
                &nbsp;<strong>{{ .Site.Title }}</strong>
            </div>
            <div class="col-xs-12 col-sm-4 hidden-mobile">
                <a class="menu__link" href="/projects/">
                    <span>проекты</span>
                </a>
                <a class="menu__link" href="/all/">
                    <span>блог</span>
                </a>
                <a class="menu__link" href="#about">
                    <span>контакты</span>
                </a>
                <a class="menu__link" href="https://antonz.org">
                    <span>en</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-offset-1 col-sm-4 hidden-mobile">
                {{- partial "search.html" . -}}
            </div>
        </div>
    </div>
</section>