{{ if .Params.subscribe }}
<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
        <p><em>Подписывайтесь на <a href="https://t.me/{{ .Params.subscribe }}"><strong>канал</strong></a> и <a href="http://digest.antonz.ru/"><strong>рассылку</strong></a>, чтобы не пропустить новые заметки</em> 🚀</p>
    </div>
</div>
{{ else }}
<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
        <p><em>Подписывайтесь на <a href="http://digest.antonz.ru/"><strong>рассылку</strong></a>, чтобы не пропустить новые заметки</em> 🚀</p>
    </div>
</div>
{{ end }}