<h3 id="open-source" class="project-section-header">Открытый код и данные</h3>
<div class="row">
    <div class="col-xs-12 col-sm-4 flex">
        <div class="project-block">
            <p>
                <a class="portfolio-thumb" href="https://github.com/nalgeon/sqlean">
                    <strong><i class="fas fa-database"></i> SQLite++</strong>
                    &nbsp;<span class="color-gray">c</span>
                </a>
            </p>
            <p>Все функции, которых так не хватало в SQLite.</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 flex">
        <div class="project-block">
            <p>
                <a class="portfolio-thumb" href="https://github.com/nalgeon/sqlime">
                    <strong><i class="fas fa-cloud"></i> SQL-песочница</strong>
                    &nbsp;<span class="color-gray">js</span>
                </a>
            </p>
            <p>Интерактивная SQLite-песочница в браузере.</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 flex">
        <div class="project-block">
            <p>
                <a class="portfolio-thumb" href="https://dangry.ru/iuliia/">
                    <strong><i class="fas fa-code"></i> Юлия → Iuliia</strong>
                    &nbsp;<span class="color-gray">py go js +7</span>
                </a>
            </p>
            <p>Превращает кириллицу в латиницу всеми способами.</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 flex">
        <div class="project-block">
            <p>
                <a class="portfolio-thumb" href="https://github.com/nalgeon/podsearch-py">
                    <strong><i class="fas fa-code"></i> Поиск подкастов</strong>
                    &nbsp;<span class="color-gray">python</span>
                </a>
            </p>
            <p>Находит подкасты через API iTunes.</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 flex">
        <div class="project-block">
            <p>
                <a class="portfolio-thumb" href="https://github.com/nalgeon/invoice">
                    <strong><i class="fas fa-code"></i> Генератор счетов</strong>
                    &nbsp;<span class="color-gray">js</span>
                </a>
            </p>
            <p>Ну очень простое выставление счетов для юрлиц.</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 flex">
        <div class="project-block">
            <p>
                <a class="portfolio-thumb" href="https://github.com/nalgeon/metro">
                    <strong><i class="fas fa-database"></i> Метро</strong>
                    &nbsp;<span class="color-gray">json csv db</span>
                </a>
            </p>
            <p>Станции метро в городах России, Беларуси и Казахстана.</p>
        </div>
    </div>
</div>

<h3 id="courses" class="project-section-header">Онлайн-курсы</h3>
<div class="row">
    <div class="col-xs-12 col-sm-4 flex">
        <div class="project-block">
            <p>
                <a class="portfolio-thumb" href="https://stepik.org/z/95367">
                    <strong><i class="fas fa-chalkboard-teacher"></i> Оконные функции SQL</strong>
                    &nbsp;<span class="color-gray"><i class="far fa-star"></i> 5</span>
                </a>
            </p>
            <p>Как делать классные аналитические отчеты без Excel.</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 flex">
        <div class="project-block">
            <p>
                <a class="portfolio-thumb" href="https://antonz.ru/sqlite-course/">
                    <strong><i class="fas fa-chalkboard-teacher"></i> SQLite для аналитики</strong>
                    &nbsp;<span class="color-gray"><i class="far fa-star"></i> 5</span>
                </a>
            </p>
            <p>
                Интерактивный курс о прикладном анализе данных.
            </p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 flex">
        <div class="project-block">
            <p>
                <a class="portfolio-thumb" href="https://stepik.org/course/96832/promo">
                    <strong><i class="fas fa-chalkboard-teacher"></i> Go на практике</strong>
                    &nbsp;<span class="color-gray"><i class="far fa-star"></i> 4.9</span>
                </a>
            </p>
            <p>Введение в Golang для опытных разработчиков.</p>
        </div>
    </div>
</div>

<h3 id="channels" class="project-section-header">Тематические каналы</h3>
<div class="row">
    <div class="col-xs-12 col-sm-4 flex">
        <div class="project-block">
            <p>
                <a class="portfolio-thumb" href="https://t.me/dangry">
                    <strong><i class="fab fa-telegram-plane"></i> Интерфейсы без шелухи</strong>
                    &nbsp;<span class="color-gray"><i class="far fa-user"></i> 13K</span>
                </a>
            </p>
            <p>Наблюдения о продуктах, интерфейсах и разработке софта.</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 flex">
        <div class="project-block">
            <p>
                <a class="portfolio-thumb" href="https://t.me/ohmypy">
                    <strong><i class="fab fa-telegram-plane"></i> Oh My Py</strong>
                    &nbsp;<span class="color-gray"><i class="far fa-user"></i> 3K</span>
                </a>
            </p>
            <p>Python и его замечательная стандартная библиотека.</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 flex">
        <div class="project-block">
            <p>
                <a class="portfolio-thumb" href="https://t.me/sqliter">
                    <strong><i class="fab fa-telegram-plane"></i> SQL на практике</strong>
                    &nbsp;<span class="color-gray"><i class="far fa-user"></i> 1K</span>
                </a>
            </p>
            <p>Приемы повседневной работы с данными.</p>
        </div>
    </div>
</div>

<h3 id="books" class="project-section-header">Книги</h3>
<div class="row">
    <div class="col-xs-12 col-sm-4 flex">
        <div class="project-block">
            <p>
                <a class="portfolio-thumb" href="https://github.com/nalgeon/dataviz">
                    <strong><i class="fas fa-book"></i> Data Visualization Guide</strong>
                    &nbsp;<span class="color-gray">
                        <i class="far fa-arrow-alt-circle-down"></i> 5K
                    </span>
                </a>
            </p>
            <p>Визуализация данных для презентаций и отчетов.</p>
        </div>
    </div>
</div>

<!--
<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block">
        <p>
            <a class="portfolio-thumb" href="https://antonz.ru/podcast/">
                <strong><i class="fas fa-microphone"></i> Сегодня я узнал</strong>
            </a>
        </p>
        <p>5-минутный практический подкаст о программировании.</p>
    </div>
</div>

<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block project-block--noborder">
        <p>
            <a class="portfolio-thumb" href="https://t.me/lifestrikes">
                <strong><i class="fab fa-telegram-plane"></i> Life Happens</strong>
            </a>
        </p>
        <p>Грустные картинки о жизни.</p>
    </div>
</div>
-->