<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block">
        <p>
            <a class="portfolio-thumb" href="https://stepik.org/z/95367">
                <strong><i class="fas fa-chalkboard-teacher"></i> Оконные функции SQL</strong>
            </a>
        </p>
        <p>Как делать классные аналитические отчеты без Excel.</p>
    </div>
</div>

<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block">
        <p>
            <a class="portfolio-thumb" href="https://github.com/nalgeon/sqlean">
                <strong><i class="fas fa-code"></i> sqlean</strong>
            </a>
        </p>
        <p>Все функции, которых так не хватало в SQLite.</p>
    </div>
</div>

<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block">
        <p>
            <a class="portfolio-thumb" href="https://github.com/nalgeon/sqlime">
                <strong><i class="fas fa-code"></i> sqlime</strong>
            </a>
        </p>
        <p>SQLite-песочница в браузере.</p>
    </div>
</div>

<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block">
        <p>
            <a class="portfolio-thumb" href="https://t.me/sqliter">
                <strong><i class="fab fa-telegram-plane"></i> SQL на практике</strong>
            </a>
        </p>
        <p>Приемы повседневной работы с данными.</p>
    </div>
</div>

<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block">
        <p>
            <a class="portfolio-thumb" href="https://t.me/ohmypy">
                <strong><i class="fab fa-telegram-plane"></i> Oh My Py</strong>
            </a>
        </p>
        <p>Python и его замечательная стандартная библиотека.</p>
    </div>
</div>

<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block">
        <p>
            <a class="portfolio-thumb" href="https://t.me/dangry">
                <strong><i class="fab fa-telegram-plane"></i> Интерфейсы без шелухи</strong>
            </a>
        </p>
        <p>Наблюдения о продуктах, интерфейсах и разработке софта.</p>
    </div>
</div>

<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block">
        <p>
            <a class="portfolio-thumb" href="https://dangry.ru/iuliia/">
                <strong><i class="fas fa-code"></i> Юлия → Iuliia</strong>
            </a>
        </p>
        <p>Превращает кириллицу в латиницу всеми способами.</p>
    </div>
</div>