{{ define "main" }}
<div class="storey">
    <div class="container">
        <article class="post">
            <header>
                <h1 class="post__title">{{ .Title }}</h1>
            </header>
            <div class="article">
                <div class="row">
                    <div class="col-xs-4 col-sm-2 col-md-1">
                        <p><img src="/assets/antonz.jpg"></p>
                    </div>
                    <div class="col-xs-8 col-sm-6 col-md-7">
                        <p>
                            Привет, я Антон 👋 Разрабатываю опенсорс.
                            Пишу о программировании, данных, продуктах и интерфейсах.
                            Веду курсы.
                        </p>
                    </div>
                </div>
            </div>

            <br>

            {{- partial "projects-all.html" . -}}

        </article>
    </div>
</div>
{{ end }}