{{ define "main" }}
<div class="storey">
    <div class="container">
        <article class="post">
            <div class="article">
                <header>
                    <h2>{{ .Title }}</h2>
                </header>
                <div class="row">
                    <div class="col-xs-4 col-sm-2 col-md-1">
                        <p><img src="/assets/antonz.jpg"></p>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-6">
                        <p>
                            Привет, я Антон 👋 Разрабатываю опенсорс.
                            Пишу о программировании, данных, продуктах и интерфейсах.
                            Веду курсы.
                        </p>
                        <p></p>
                    </div>
                </div>
            </div>

            {{- partial "projects-all.html" . -}}

        </article>
    </div>
</div>
{{ end }}